* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 9, 74);
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Roboto", "Poppins";
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

header {
  background: rgb(54, 23, 186);
  color: #fff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem;
  font-family: "Poppins";
}
.logo {
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
}

header nav ul {
  display: flex;
  padding: 0.2rem;
  gap: 4px;
}
header nav ul li {
  font-size: 13px;
}
header nav ul li a {
  padding: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.nav-request-btn {
  margin-left: 10px;
  padding: 1rem 1rem;
  border: 1px solid;
  /* width: 30%; */
  font-size: 13px;
  border-radius: 2rem;
}
.nav-request-btn:hover {
  background-color: #fff;
  color: black;
  transition: 0.3s ease;
}
.hero-header {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.heading {
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
}
.heading span {
  color: aqua;
}
.hero-header p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 18px;
  line-height: 2rem;
}
.request-btn {
  text-align: center;
}
.request-btn a {
  font-weight: bold;
  display: inline-block;
  padding: 1.2rem 1rem;
  border: 1px solid;
  width: 30%;
  border-radius: 1rem;
  margin: 0 auto;
  background-color: #3617ba;
  border: 1px solid #3617ba;
}

.dev {
  font-size: 13px;
  padding: 1rem 1rem;
  /* border: 1px solid; */
}

.dev:hover {
  border: 1px solid rgb(54, 44, 44);
  background-color: #3928d2;
  border-radius: 15px;
}

#hero {
  width: 100%;
  background: rgb(54, 23, 186);
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

#hero .content {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 805px;
  margin: 0 auto;
  text-align: center;
}

#hero .content h1 {
  font-size: 46px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto 24px;
  text-align: center;
  line-height: 56px;
  /* font-family: "Roboto",sans-serif; */
  font-family: "Avenir", sans-serif;
}

#hero .content p {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;
}

#subscriber {
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 48px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 15px;
}

#subscriber input {
  border: none;
  background: transparent;
  padding: 11px 12px;
  font-size: 12px;
  color: white;
  outline: none;
  font-weight: 400;
  line-height: 30px;
  width: 75%;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

#subscriber button {
  border: none;
  background: rgb(255 255 255 / 94%);
  padding: 11px 12px;
  font-size: 12px;
  color: rgb(49, 42, 80);
  outline: none;
  width: 34%;
  font-weight: 400;
  border-radius: 15px;
  line-height: 30px;
  cursor: pointer;
}

/* Hover effect on button */
#subscriber button:hover {
  background: rgb(89, 194, 249);
}

#hero .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -4px;
}
#hero .img-container img {
  width: 100%;
  height: auto;
}

/* Master section */

.master {
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 60px 0px;
  font-family: "Montserrat", sans-serif;
}

.master .container {
  background: url(assets/tech-bg.webp) center center / cover no-repeat;
  display: flex;
  gap: 80px;
  padding: 29px 52px;
  margin: 0 28px;
  border-radius: 15px;
}

.master .img-container img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  width: 230px;
}

.master .container .text .text-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.text .text-heading h2 {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
  text-align: center;
}

.text .text-heading .company {
  color: #fff;
  text-align: justify;
  margin-bottom: 0;
  line-height: 0;
  font-size: 14px;
}

.text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 164%;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  max-width: 717px;
}

.spotify {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  justify-content: flex-start;
}

.spotify a {
  text-decoration: none;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  padding: 9px 10px;
  border-radius: 18px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spotify a span {
  margin-left: 11px;
  fill: #fff;
  height: 28px;
  width: 30px;
}

/* Podcast Episode*/
#podcast-episodes {
  width: 100%;
  background: rgb(255, 255, 255);
  font-family: "Avenir", sans-serif;
  padding: 36px 0px 64px;
}

#podcast-episodes .section-wrapper {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0px auto;
}

#podcast-episodes .section-wrapper .main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 70px;
}

#podcast-episodes .left {
  width: 100%;
}

.left-1 {
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-bottom: 33px;
}

.left .heading-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  font-family: "Roboto", sans-serif;
}

.heading-btn h2 {
  font-size: 2.5rem;
  line-height: 2rem;
}

.btn a {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #3617ba;
  padding: 13px 23px;
  border-radius: 15px;
}

.btn a span {
  display: inline-flex;
}

.btn a span svg {
  width: 12px;
  height: 12px;
}

.btn a span svg path {
  fill: #fff;
}

.input {
  position: relative;
}
.input .form-input {
  width: 100%;
  padding: 20px 10px 20px 47px;
  outline: none;
  border: 1px solid #ddddd6;
}

.search {
  position: absolute;
  top: 19px;
  left: 19px;
}

.search svg {
  width: 19px;
  height: 19px;
  opacity: 0.6;
}

.input .form-input::placeholder {
  color: rgb(83, 82, 82);
}

/* Right */

#podcast-episodes .right {
  width: 70%;
  background: rgb(232, 244, 255);
  border-radius: 9px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 20px 50px 20px;
  margin-top: 82px;
}

#podcast-episodes .right h3 {
  font-size: 21px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

#podcast-episodes .right p {
  font-weight: 300;
  line-height: 1.4rem;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

#form-right input {
  outline: none;
  font-weight: 400;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgb(49, 42, 80);
  border-radius: 12px;
  padding: 18px 28px 19px;
  width: 100%;
  height: 3.8rem;
  transition: all 0.35s ease 0s;
}

#form-right button {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: rgb(54, 23, 186);
  border: 1px solid rgb(54, 23, 186);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px 36px;
  /* min-width: 200px; */
  text-decoration: none;
  transition: all 0.35s ease 0s;
  font-family: "Avenir", sans-serif;
  min-height: 62px;
  border-radius: 14px;
  margin-top: 12px;
}

#form-right input::placeholder {
  color: #000;
}

.episodes {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-y: auto;
  height: 192px;
}

.episodes .episode {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.master-tech {
  width: 100%;
}

.master-tech img {
  width: 100%;
  border-radius: 13px;
}

.episode .text-content {
  padding: 0 19px;
}

.text-content h3 {
  font-size: 22px;
  line-height: 22px;
  color: rgb(49, 42, 80);
  margin-bottom: 8px;
}

.text-content p {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: rgb(49, 42, 80);
  margin-bottom: 12px;
  text-align: justify;
}

.text-content p a {
  color: rgb(54, 23, 186);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0.3rem;
}

.text-content .bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* position: relative; */
}

.bottom .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.text-content .bottom .share {
  font-weight: 400;
  font-size: 12.9829px;
  line-height: 18px;
  color: rgb(49, 42, 80);
  flex-shrink: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(236, 232, 255);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 9px;
  gap: 7px;
  transition: all 0.35s ease 0s;
}

.text-content .bottom .timer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 99px;
  margin-top: 10px;
  margin-left: 100px;
  -webkit-box-align: center;
  align-items: center;
}

.bottom .timer .time {
  font-weight: 400;
  font-size: 14.8376px;
  line-height: 20px;
  color: rgb(162, 162, 162);
}

/* Previos button css*/
.previous {
  width: 100%;
  text-align: center;
}

.previous button {
  border-radius: 16px;
  min-width: 133px;
  min-height: 48px;
  background: rgb(54, 23, 186);
  border-color: rgb(54, 23, 186);
  color: white;
  margin: 0px 1rem;
  font-weight: 700;
}

.previous .pre {
  background-color: antiquewhite;
  color: rgb(71, 70, 75);
  border-color: #393737;
  opacity: 0.5;
}

/* New episode section */
#newEpisode {
  width: 100%;
  max-width: 1256px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0px auto;
  background-color: rgb(12, 9, 74);
}

#newEpisode .weeks-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

#newEpisode .weeks-container .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: auto 4rem;
}

#newEpisode .weeks-container .content h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: rgb(255, 255, 255);
  margin: 0px auto 10px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
}

#newEpisode .weeks-container .content p {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin: 0px auto 14px;
  font-family: "Poppins", sans-serif;
}

#newEpisode .weeks-container .content span {
  color: #fff;
  font-weight: 300;
  margin: 17px auto 20px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

#newEpisode .weeks-container .content .subscribe-form {
  width: 80%;
  margin-top: 10px;
}

#newEpisode .weeks-container .content #subscriber {
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin: 0 auto;
  /* margin-bottom: 48px; */
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 15px;
}

#newEpisode #subscriber input {
  border: none;
  background: transparent;
  padding: 11px 12px;
  font-size: 12px;
  color: white;
  outline: none;
  font-weight: 400;
  line-height: 30px;
  width: 75%;
}

#newEpisode #subscriber input ::placeholder {
  color: white;
  opacity: 0.5;
}

#newEpisode #subscriber button {
  border: none;
  background: rgb(54, 23, 186);
  padding: 11px 12px;
  font-size: 12px;
  color: #fff;
  outline: none;
  width: 34%;
  font-weight: 400;
  border-radius: 15px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.35s ease 0s;
}

#newEpisode #subscriber button:hover {
  background: rgb(89, 194, 249);
}

/* ::::::::::::::::::::::::::::::::::  footer-section  ::::::::::::::::::::::::::::::::::::::::  */

footer {
  padding: 2rem 2rem;
  background-color: #3617ba;
  color: #fff;
}

footer a {
  font-family: "Montserrat", sans-serif;
}
.footer-all-section {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer-certificate {
  display: flex;
  gap: 1.5rem;
}
.social-media-icons i {
  padding: 0.5rem;
}
.licence-one {
  width: 45%;
}
.licence-one img {
  width: 100%;
}

.footer-parts {
  display: flex;
  flex-direction: column;
  width: 24%;
  padding: 2rem 2rem;
  gap: 1.5rem;
}

.footer-parts h3 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.footer-parts p {
  font-size: 16px;
  line-height: 1.6rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.footer-parts a {
  font-size: 13px;
  font-weight: 500;
}
.footer-last {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

#leftmost {
  width: 35%;
}

@media only screen and (max-width: 875px) {
  body {
    background-color: lightblue;
    width: fit-content;
  }
}
