*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}
nav a img{
    width: 200px;
    margin-right: 30px;
}
.list{
    display: flex;
    margin-right: 30px;
}
.list p{
    margin: 0px 1px;
    width: 80px;
    padding: 0;
}
.list p a{
    font-size: 13px;
    padding: 0px 5px;
    margin: 0px 5px;
    color: #312a50;
} 
.list p a:hover{
    font-weight: 700;
}
.nav-a{
    display: flex;
    align-items: center;
    width: 60%;
}
.nav-a p{
    margin-right: 5px;
}
.can{
    color: #312a50;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #312a50;
}
.ap{
    font-size: 13px;
    padding: 12px 15px;
    border-radius: 10px;
    color: #312a50;
}
.ap:hover{
    border: 1px solid #312a50;
}
.can:hover{
    background-color: #312a50;
    color: white;
}
.talent{
    display: flex;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: space-between;
}
.talent div{
    width: 45%;
}
.talent h1{
    font-size: 56px;
    font-weight: 700;
    color: #312a50;
    line-height: 70px;
    margin-bottom: 10px;
}
.talent p{
    font-size: 18px;
    color: #312a50;
    line-height: 28px;
    margin-bottom: 30px;
}
.talent a{
    font-size: 14px;
    color: #312a50;
    border: 1px solid black;
    padding: 20px 50px;
    border-radius: 20px;
}
.talent a i{
    margin-left: 5px;
}
.talent a:hover{
    background-color: #312a50;
    color: white;
}
.search{
    padding-top: 100px;
    background-color: #f2f6fc;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
}
.search h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #312a50;
}
.search form input{
    font-size: 12px;
    padding: 10px 20px;
    margin-right: 10px;
    color: #93989a;
}
.search form select{
    padding: 10px 15px;
    color: #93989a;
    margin-right: 10px;
}
.search form select i{
    font-size: 12px;
}
.search form{
    display: inline-block;
}
.apply{
    padding: 15px 40px;
    margin-left: 10px;
    color: white;
    background-color: #3617ba;
    border-radius: 20px;
}
hr{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #93989a;
}
.engs{
    width: 28%;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.top{
    padding: 24px;
    border-width: 2px;
    border-style: groove;
    background-color: #0c094a;
    color: white;
}
.top h4{
    color: white;
    font-size: 16px;
}
.top p{
    font-size: 14px;
    margin-bottom: 10px;
}
.bottom{
    padding: 24px;
    border-width: 1px;
    border-style: groove;
}
.bottom h4{
    font-size: 16px;
}
.bottom p{
    font-size: 14px;
    margin-bottom: 10px;
}
.top,.bottom{
    margin-bottom: 10px;
}
.last{
    margin-bottom: 40px;
    padding: 24px;
    border-width: 1px;
    border-style: groove;
}
.last h4{
    font-size: 16px;
}
.last p{
    font-size: 14px;
    margin-bottom: 10px;
}
.show{
    width: 100%;
    padding: 12px 120px;
    color: white;
    background-color: #3617ba;
    border-radius: 10px;
}
.engs-info{
    background-color: white;
    width: 70%;
    padding-top: 30px;
}
.flex-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 60px;
    padding-bottom: 40px;
    position: relative;
}
.flex-info::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -60px;
    width: 113.5%;
    border: 1px solid #dedddd;
}
.flex-info h4{
    font-size: 20px;
}
.flex-info p{
    font-size: 14px;
    margin-bottom: 10px;
}
.flex-info a{
    font-size: 14px;
    color: #312a50;
    border: 1px solid black;
    padding: 25px 50px;
    border-radius: 20px;
}
.info{
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 40px;
}
.info h4{
    margin-top: 40px;
    font-weight: 800;
    font-size: 20px;
}
.info p{
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #312a50;
}
.info h5{
    font-size: 15px;
    margin-bottom: 20px;
    color: #312a50;
}
.info ul {
    margin-left: 40px;
    font-size: 15px;
    color: #312a50;
    line-height: 30px;
}
.info ol{
    margin-left: 40px;
    font-size: 15px;
    color: #312a50;
    line-height: 30px;
    margin-bottom: 40px;
}
.img-flex{
    display: flex;
}
.img-flex div{
    padding: 30px 40px;
    width: 70%;
    background-color: #f2f6fc;
}
.img-flex div h3{
    font-size: 20px;
    color: #312a50;
    margin-bottom: 10px;
}
.img-flex div p{
    font-size: 14px;
    color: #312a50;
    margin-bottom: 20px;
}
.img-flex div a{
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 16px 55px;
    background-color: #3617ba;
    border-radius: 20px;
}
.trial{
    padding: 70px 30px;
}
.trial h1{
    font-size: 40px;
    font-weight: 700;
    color: #312a50;
    margin-bottom: 15px;
}
.top-para{
    width: 50%;
    line-height: 27px;
    font-size: 15px;
    margin-bottom: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid-box{
    border: 1px groove;
    padding: 60px 48px 32px;
}
.im{
    padding: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.im img{
    width: 30px;
    height: 30px;  
}
.grid-box h2{
    font-size: 22px;
    color: #312a50;
    margin-bottom: 8px;
}
.grid-box p{
    font-size: 15px;
    line-height: 28px;
    color: #312a50;
}
.client{
    padding-top: 60px;
    padding-bottom: 80px;
}
.review-box{
    background-color: #3617ba;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://remotebase.com/images/aboutus/layer.png);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
    border-radius: 20px;
}
.review-box i{
    color: rgb(254, 251, 251);
    margin-top: 300px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(232, 244, 255,0.3);
}
.read{
    display: flex;
    width: 90%;
    
}
.small{
    display: flex;
    color: white;
}
.glass{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: 10px;
}
.large img{
    width: 350px;
    height: 100%;
}
.big{
    width: 95%;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}
.pablo{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.logo{
    width: 100px;
    height: 20px;
}
.large{
    position: relative;
}
.blur{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(59, 60, 60, 0.2);
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    
}
.blur h4{
    color: white;
    margin-bottom: 5px;
}
.blur p{
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}
.blur a{
    color: white;
    font-size: 12px;
}
.launch{
    background-color: #0b092f;
    background-image: url(https://remotebase.com/_next/image?url=%2Fimages%2Foverview%2Flanding%2Fexperience-img.webp&w=3840&q=100);
    background-position: center;
    background-size: 80%;
    padding-top: 120px;
    padding-bottom: 150px;
    position: relative;
}
.launch h1{
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 20px;
}
.launch p{
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;

}
.launch a{
    position: absolute;
    left: 42.5%;
    color: white;
    background-color: rgb(0, 81, 255);
    padding: 20px;
    border-radius: 20px;
}
.footer{
    padding: 130px 30px 60px;
}
.r-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.r-flex img{
    width: 220px;
}
.r-flex i{
    border: 1px solid #312a50;
    margin-right: 20px;
    padding: 12px;
    border-radius: 50%;
}
.r-ul{
   list-style: none;
   display: flex;
}
ul li a{
    margin-right: 60px;
    color: #312a50;
    font-size: 14px;
}
.l-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    color: #312a50;
}
.one{
    font-size: 15px;
}
.two{
    font-size: 14px;
}